h1 {
    text-align: center;
    text-decoration: underline;
}

.dropdown {
    background-color: gray;
}

.dropdown ul{
    display: none;
}

.dropdown:hover ul {
    display: block;
}


.routine table {
    background-color: wheat;
    width: 100%;
}

tr, th, td {
    border: 1px solid;
    font-family: monospace;
    font-size: 32px;
    text-align: center;
}


